In [6]:
import pandas as pd

In [9]:
pd.read_excel("../../data/raw/Seasonally Adjusted.xlsx")

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,246200,264500,215700,302800,207300,188900
1,2005-02-01,100.2,100.2,100.2,100.3,100.4,100.5,246700,265000,216100,303600,208100,189800
2,2005-03-01,100.5,100.6,100.8,100.7,100.7,100.6,247500,266000,217400,304900,208700,190000
3,2005-04-01,100.7,100.8,101.0,101.0,101.0,100.8,248000,266600,217900,305700,209300,190500
4,2005-05-01,100.9,101.1,101.4,101.1,101.1,101.1,248500,267300,218700,306000,209500,190900
...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2021-01-01,267.2,272.1,261.7,278.9,265.6,252.3,657900,719800,564500,844600,550500,476600
193,2021-02-01,274.9,281.1,271.0,288.8,272.7,255.7,676900,743500,584600,874400,565400,483000
194,2021-03-01,282.6,290.5,280.7,297.9,280.1,260.6,695700,768300,605400,901900,580700,492200
195,2021-04-01,288.3,295.8,287.9,302.1,287.5,265.7,709700,782500,621100,914900,595900,501900
196,2021-05-01,291.2,299.4,291.2,305.1,292.4,270.7,717000,791800,628200,923900,606100,511400