# UBCO Data 301 Group 11 
## Wesley Burchnall 
## Milestone 2 Submission

### Importing the package that contains our project functions

In [22]:
import sys 
sys.path.append('..')
from scripts import project_fuctions as pf

In [25]:
### Loading the DataFrames for EDA
masterDF = pf.load_and_process()
MLS_BC_HPI_DF = pf.loadMLSRegionalHPIData()

In [26]:
masterDF.head()
MLS_BC_HPI_DF.head()

,Vancouver One Storey Home,Vancouver Two Storey Home,Vancouver Townhouse,Vancouver Apartment,Kelowna One Storey Home,Kelowna Two Storey Home,Kelowna Townhouse,Kelowna Apartment,Canada One Storey Home,Canada Two Storey Home,Canada Townhouse,Canada Apartment
Date,,,,,,,,,,,,
2005-01-01,435200,616100,314600,252600,268300,304600,225700,157600,215700,302800,207300,188900
2005-02-01,435300,615700,315700,253600,267900,309300,227200,164000,216100,303600,208100,189800
2005-03-01,435300,614300,316700,254900,268900,313100,227000,162000,217400,304900,208700,190000
2005-04-01,436300,614500,318000,255500,268200,315800,230300,161400,217900,305700,209300,190500
2005-05-01,437800,616600,319800,258100,269300,316200,228200,158300,218700,306000,209500,190900